{{ if isset .Params "author" }}
  <hr />
  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ if (reflect.IsSlice .Params.author) }}
    {{ range $author_name := .Params.author }}
      {{ $author := index $data.team.members $author_name }}
      <div class="post-author">
        <img src="{{ $author.image | absURL }}" alt="Avatar" />
        <span class="author-about">
          <b>{{ $author.name }}</b>: {{ $author.description }}
        </span>
      </div>
    {{ end }} {{/* range authors */}}
  {{ else }}
    {{ $author := index $data.team.members .Params.author }}
    <div class="post-author">
      <img src="{{ $author.image | absURL }}" alt="Avatar" />
      <span class="author-about">
        <b>{{ $author.name }}</b>: {{ $author.description }}
      </span>
    </div>
  {{ end }} {{/* .Params.author is slice */}}
{{ end }} {{/* .Params.author isset */}}
