{{ if .Site.Params.blog.enable }}
{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section-xs" id="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.blog.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.blog.title }}<h2>{{ . }}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Params.blog.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ range first 3 .Site.RegularPages}}
            {{ "<!-- single blog post -->" | safeHTML }}
            <article class="col-12 col-md-4">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="{{ .Permalink }}">
                            <img class="img-fluid shadow rounded" src="{{ .Permalink }}{{ .Params.header_src }}" alt="{{ .Params.header_alt }}">
                        </a>
                    </div>
                    <div class="post-title">
                        <h3>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    {{ .Render "postmeta" }}
                    <div class="post-content">
                        {{ if .Params.draft }}
                            <div style="background-color:Khaki;">{{ .Summary }}</div>
                        {{else}}
                            <p>{{ .Summary }}</p>
                        {{end}}
                    </div>
                    <a class="btn btn-main" href="{{ replace (.Permalink | relURL) (printf "/%s/" .Site.Language) "/posts/" | absURL }}">{{ i18n "readmore" }}</a>
                </div>
            </article>
            {{ "<!-- /single blog post -->" | safeHTML }}
            {{ end }}
        </div>
        <div class="row">
            <a class="btn btn-main" style="margin-left: auto; margin-right: auto;" href="{{ "posts/" | absURL }}">{{ i18n "seeallposts" }}</a>
        </div>        
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}
{{ end }}
